**/*~
**/\#*
**/*.o
**/*.s
**/a.out
**/*.exe
.vscode
/tmp*
/thirdparty
/chibicc
/test/*.exe
/stage2
/build
/cmake-build-debug
.venv/
pyproject.toml
uv.lock
**/*.py
build.log
compare.txt
**/*.diff
AGENTS.md
/.continue
gdb_help.txt
.cache/
**/*.log
**/*.env
/.github
/.specify
out/
/.opencode
conftest.zend 
compile_commands.json
compare.txt